.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.error{
  background: #f2d9df;
  color: black;
  position: relative;
  font-family: 'latoregular';
  font-size: 14px;
  line-height: 20px;
  margin-top: -1px;
  display: block;
  padding: 3px;
  border-style: solid;
  border-width:1px; 
  border-color: #b81237;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
